<h2>Por región</h2>
<hr>

<div class="row">
  <!-- Search Box -->
  <div class="col-10 text-center">
    <button *ngFor="let region of this.regions" class="btn mx-2" (click)="searchByRegion(region)"
      [class.btn-primary]="region === this.regionSelected">
      {{region}}
    </button>
  </div>
  <div class="col-2">
    <shared-search-box (onValue)="searchByRegion($event)" [placeHolder]="placeholder"
      (pageSizeOutPut)="changePageSize($event)" [isRegion]="true"></shared-search-box>
  </div>

</div>

<div class="row">
  <div class="col">
    <!-- Tabla de resultados -->
    <hr>
    <shared-loading-spinner *ngIf="this.flagLoading"></shared-loading-spinner>
    <countries-country-table [countries]="countries" [pageSize]="pageSize"></countries-country-table>
  </div>
</div>
