<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Search Box -->
    <shared-search-box (onValue)="searchByCapital($event)" [placeHolder]="placeholder"
      [initialValue]="this.initialValue"></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Tabla de resultados -->
    <hr>
    <shared-loading-spinner *ngIf="this.flagLoading"></shared-loading-spinner>
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
